# After changing this file, check it on:
#   http://lint.travis-ci.org/

language: python

python:
    - 3.8

#before_script:
#  - export PYTHONPATH=$PYTHONPATH:$(pwd)

install: 
  - pip install -e .
script: 
  - pytest test/*.py

notifications:
    email: false
